@charset "utf-8";
/* CSS Document */

/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
}

/*widthにpaddingとborderを含む*/
* {
  box-sizing:border-box;
}

/*メディアエクリ*/
@media all and (max-width: 670px) {

/*以下本文*/

@font-face {
  font-family: "Six-Hands-Chalk";
  src: url("../font/Six-Hands-Chalk.ttf") format("truetype");
}



/*ヘッダー*/

header {
  width: 100%;
  height: 50px;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.header-left {
width: calc(434px/3);
}
.header-left img{
width: calc(434px/3);
height: 20px;
}

.header-right {
  display: none;
}

.header-right670 {
display: block;
font-size: 25px;
padding-right: 40px;
transform: translateX(-1000);
}
  
.overlay{
  display: none;
  color: #fff;
}

.overlay ul{
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.548);
  padding: 25px;
  font-size: 30px;
  transform: translateY(50px);
}

#close {
  font-size: 25px;
  position: absolute;
  top: 22px;
  right: 20px;
}

.show {
  display: block;
  pointer-events: auto;
}

#open.hide {
  display: none;
  pointer-events: auto;
}


/* top */

.top-wrapper {
  overflow: hidden;
  height:1200px;
}

.chalk-wrapper {
width:100%;
height: 10px;
}

.white-chalk,.name,.ha-left,.ha-right,.ninja{
display:none;
}

.name670 {
  display:block;
  transform: translateY(-100px);
}

.top p {
font-size:16px;
width:100%;
height: max-content;
transform: scale(1);
opacity:1;
}

.top p:hover {
transform: scale(1);
opacity:1;
}

.meziro {
width:300px;
height: 340px;
transform: translateY(300px);
}

.pink-chalk {
left:-30px;
top: 0px;
}

.orange-chalk {
left: 40px;
}

.white-chalk2 {
  display: block;
  overflow-x: hidden;
  transform: translate(320px,-900px);
}

.meziro {
  bottom:-300px;
}

/* work&profile */

.work-profile {
  width:100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10vw;
}

/*work*/


.gallery {
width: 250px;
height: 250px;
left: -30px;
}

.gallery img {
width: 250px;
height: 250px;
object-fit: cover;
}

@keyframes gallery {
  0%{transform:translateX(250px);}
  7.14%{transform:translateX(0px);}
  14.28%{transform:translateX(0px);}
  21.42%{transform:translateX(-250px);}
  28.56%{transform:translateX(-250px);}
  35.7%{transform:translateX(-500px);}
  42.84%{transform:translateX(-500px);}
  49.98%{transform:translateX(-750px);}
  57.12%{transform:translateX(-750px);}
  64.26%{transform:translateX(-1000px);}
  71.4%{transform:translateX(-1000px);}
  78.54%{transform:translateX(-1250px);}
  85.68%{transform:translateX(-1250px);}
  100%{transform:translateX(-1500px);}
  }
  
.g1 {
left:0;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g2 {
left:250px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g3 {
left:500px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g4 {
left:750px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g5 {
left:1000px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g6 {
left: 1250px;
animation: gallery 23s ease-in-out 0s infinite normal;}

/*profile*/

.paper {
  width:300px;
  margin: 0 auto;
  position:relative;
  }

.profile img {
  width:300px;
  height:300px;
  transform: translateX(-50px);
}

.paper-text {
  transform: translateX(-50px);
  color:#2C1000;
  text-align:left;
  font-size:18px;
  font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
  }

.insta {
  color:#2C1000;
  font-size:30px;
  }

/*oder*/


.contents2 {
  margin-top:0px;
  margin-bottom:100px;
  }

.order-wrapper{
  width: 100%;
}

.order {
  flex-direction: column;
  width: 100%;
  }


.order-left {
font-size:15px;
}
.order-right {
font-size:17px;
}


}
