@charset "utf-8";
/* CSS Document */

/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
}

/*widthにpaddingとborderを含む*/
* {
  box-sizing:border-box;
}


/*以下本文*/

@font-face {
  font-family: "Six-Hands-Chalk";
  src: url("../font/Six-Hands-Chalk.ttf") format("truetype");
}

body{
font-family: "use-SourceHanSansJP";
font-family: Six-Hands-Chalk;
font-display: swap;
color:white;
background-color:#050404;
width: 100%;
}

/*ヘッダー*/

header a:link { color: #fff; }
header a:visited { color: #fff; }
header a:hover { color: #fff; }
header a:active { color: #fff; }

header {
width:100%;
height: 90px;
position:fixed;
top:0px;
z-index: 10;
background-color:#050404;
}

.header-wrapper {
width:90%;
margin:0 auto;
}

.header-left {
width: 434px;
padding-top: 20px;
float:left;
}

.header-right {
font-size: 25px;
line-height: 90px;
float:right;
}

.header-right670,.overlay {
display: none;
}

.header-right a  {
line-height: 40px;
color:white;
padding:0px 40px;
border-right:1px solid rgba(255,255,255,0.3);
}

.header-right span {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}


.header-right span:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgba(255,255,255,0.6);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.header-right span:hover:before, .header-right span:focus:before{
  left: 0;
  right: 0;
}

@keyframes anime1 {
0% {opacity:1;}
50%{opacity:0.4;}
100% {opacity:0.2;}
}

.header-right span:active {
animation-name:anime1;
animation-duration: 0.1s;
animation-fill-mode:forwards;
}


/*top*/

.top-wrapper {
width:100%;
height:900px;
text-align:center;
color:white;
margin:0 auto;
position:relative;
}

.chalk-wrapper {
margin:200px auto 100px auto;
width:950px;
height:140px;
position: relative;
}

.name670 {
display:none;
}

@keyframes ninja {
0%{
transform-origin:right;
transform: scaleX(1);}
100%{
transform-origin:right;
transform: scaleX(0);}
}

.ninja {
position: absolute;
top:0px;
right:0px;
bottom:-20px;
left:0px;
z-index: 1;
background:
linear-gradient(to right, rgba(5,4,4,0) 10%,rgba(5,4,4,1.00) 40%, rgba(5,4,4,1.00));
animation-name: ninja;
animation-duration: 2000ms;
animation-timing-function:cubic-bezier(0.320, 0.005, 0.710, 1.005);
animation-delay: 300ms;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
}


@keyframes stylie-keyframes {
  0% {transform:translate(101px, 297px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  1.04% {transform:translate(101.5148px, 305.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  2.08% {transform:translate(103.07px, 313.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  3.13% {transform:translate(105.6996px, 322px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  4.17% {transform:translate(109.4643px, 330.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  5.21% {transform:translate(114.4592px, 338.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  6.25% {transform:translate(120.8282px, 347px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  7.29% {transform:translate(128.7895px, 355.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  8.33% {transform:translate(138.6873px, 363.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  9.38% {transform:translate(151.1072px, 372px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  10.42% {transform:translate(167.1899px, 380.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  11.46% {transform:translate(189.8514px, 388.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  12.5% {transform:translate(249px, 397px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  13.54% {transform:translate(308.9479px, 388.75px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  14.58% {transform:translate(331.9156px, 380.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  15.63% {transform:translate(348.2157px, 372.25px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  16.67% {transform:translate(360.8034px, 364px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  17.71% {transform:translate(370.8349px, 355.75px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  18.75% {transform:translate(378.9038px, 347.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  19.79% {transform:translate(385.3589px, 339.25px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  20.83% {transform:translate(390.4214px, 331px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  21.88% {transform:translate(394.2369px, 322.75px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  22.92% {transform:translate(396.902px, 314.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  23.96% {transform:translate(398.4783px, 306.25px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  25% {transform:translate(399px, 298px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  26.04% {transform:translate(399.5217px, 306.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  27.08% {transform:translate(401.098px, 315px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  28.13% {transform:translate(403.7631px, 323.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  29.17% {transform:translate(407.5786px, 332px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  30.21% {transform:translate(412.6411px, 340.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  31.25% {transform:translate(419.0962px, 349px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  32.29% {transform:translate(427.1651px, 357.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  33.33% {transform:translate(437.1966px, 366px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  34.38% {transform:translate(449.7843px, 374.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  35.42% {transform:translate(466.0844px, 383px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  36.46% {transform:translate(489.0521px, 391.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  37.5% {transform:translate(549px, 400px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  38.54% {transform:translate(609.3475px, 391.8333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  39.58% {transform:translate(632.4684px, 383.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  40.63% {transform:translate(648.8771px, 375.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  41.67% {transform:translate(661.5488px, 367.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  42.71% {transform:translate(671.6472px, 359.1667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  43.75% {transform:translate(679.7698px, 351px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  44.79% {transform:translate(686.268px, 342.8333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  45.83% {transform:translate(691.3642px, 334.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  46.88% {transform:translate(695.2051px, 326.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  47.92% {transform:translate(697.888px, 318.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  48.96% {transform:translate(699.4748px, 310.1667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  50% {transform:translate(700px, 302px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  51.04% {transform:translate(700.5217px, 310.0833px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  52.08% {transform:translate(702.098px, 318.1667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  53.13% {transform:translate(704.7631px, 326.25px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  54.17% {transform:translate(708.5786px, 334.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  55.21% {transform:translate(713.6411px, 342.4167px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  56.25% {transform:translate(720.0962px, 350.5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  57.29% {transform:translate(728.1651px, 358.5833px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  58.33% {transform:translate(738.1966px, 366.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  59.38% {transform:translate(750.7843px, 374.75px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  60.42% {transform:translate(767.0844px, 382.8333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  61.46% {transform:translate(790.0521px, 390.9167px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  62.5% {transform:translate(850px, 399px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  63.54% {transform:translate(849.4419px, 396.2222px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  64.58% {transform:translate(847.9536px, 393.4444px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  65.63% {transform:translate(845.8145px, 390.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  66.67% {transform:translate(843.3037px, 387.8889px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  67.71% {transform:translate(840.7004px, 385.1111px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  68.75% {transform:translate(838.284px, 382.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  69.79% {transform:translate(836.3337px, 379.5556px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  70.83% {transform:translate(835.1286px, 376.7778px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  71.88% {transform:translate(834.948px, 374px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  72.92% {transform:translate(836.0712px, 371.2222px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  73.96% {transform:translate(838.7774px, 368.4444px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  75% {transform:translate(843.3458px, 365.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  76.04% {transform:translate(850.0557px, 362.8889px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  77.08% {transform:translate(859.1862px, 360.1111px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  78.13% {transform:translate(871.0167px, 357.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  79.17% {transform:translate(885.8263px, 354.5556px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  80.21% {transform:translate(903.8944px, 351.7778px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  81.25% {transform:translate(925.5px, 349px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  82.29% {transform:translate(947.1056px, 346.2222px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  83.33% {transform:translate(965.1737px, 343.4444px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  84.38% {transform:translate(979.9833px, 340.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  85.42% {transform:translate(991.8138px, 337.8889px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  86.46% {transform:translate(1000.9443px, 335.1111px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  87.5% {transform:translate(1007.6542px, 332.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  88.54% {transform:translate(1012.2226px, 329.5556px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  89.58% {transform:translate(1014.9288px, 326.7778px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  90.63% {transform:translate(1016.052px, 324px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  91.67% {transform:translate(1015.8714px, 321.2222px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  92.71% {transform:translate(1014.6663px, 318.4444px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  93.75% {transform:translate(1012.716px, 315.6667px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  94.79% {transform:translate(1010.2996px, 312.8889px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  95.83% {transform:translate(1007.6963px, 310.1111px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  96.88% {transform:translate(1005.1855px, 307.3333px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  97.92% {transform:translate(1003.0464px, 304.5556px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  98.96% {transform:translate(1001.5581px, 301.7778px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
  100% {transform:translate(1001px, 299px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-595%, -155%);}
}
/*html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }*/

.white-chalk {
z-index:3;
margin:0 auto;
top:0px;
right:-150px;
transition:transform 0.2s;
position: absolute;
  animation-name: stylie-keyframes;
  animation-duration: 2000ms;
  animation-delay: 0ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.name {
font-size:60px;
letter-spacing: 5px;
position: absolute;
top:0px;
left:140px;
}

.lage {
font-size:180%;
}

.ha-left {
position:absolute;
left: 0px;
}

.ha-right {
position:absolute;
right: 0px;
}

.top p {
transform: scale(0.95,0.95);
opacity:0.7;
font-size:18px;
font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
transition: transform 0.8s;
width:30vw;
margin: 0 auto;
}

.top p:hover {
transform: scale(1,1);
opacity:1;
transition: transform 1s;
}

.meziro {
position:absolute;
bottom:0px;
right:0px;
z-index:-5;
}

.pink-chalk {
position:absolute;
top:150px;
left:60px;
transition:transform 0.2s;
}

.orange-chalk {
position:absolute;
left:220px;
transition:transform 0.2s;
bottom:300px;
}

.white-chalk2 {
  display: none;
}

/*contents*/

.contents1 {
display: flex;
text-align: center;
margin-top:100px;
}

/* work&profile */

.work-profile {
  width:65vw;
  display: flex;
  margin: 0 auto;
  padding-top: 10vw;
}

/*work*/

.work-wrapper {
flex-basis:50%;
margin:0 auto;
width: 50%;
}

.work {
width:90%;
margin:0 auto;
}

.work h2 {
padding:50px;
font-size:45px;
}

.gallery {
width: 400px;
height: 380px;
background-image: url("../sozai/SVG/work back.svg");
object-fit: cover;
padding:0px 5px 50px 0px;
margin:0 auto;
text-align: center;
position: relative;
overflow: hidden;
}

.gallery li {
list-style: none;
position: absolute;
top:0;
}

.gallery img {
width: 400px;
height: 400px;
object-fit: cover;
}

@keyframes gallery {
0%{transform:translateX(400px);}
7.14%{transform:translateX(0px);}
14.28%{transform:translateX(0px);}
21.42%{transform:translateX(-400px);}
28.56%{transform:translateX(-400px);}
35.7%{transform:translateX(-800px);}
42.84%{transform:translateX(-800px);}
49.98%{transform:translateX(-1200px);}
57.12%{transform:translateX(-1200px);}
64.26%{transform:translateX(-1600px);}
71.4%{transform:translateX(-1600px);}
78.54%{transform:translateX(-2000px);}
85.68%{transform:translateX(-2000px);}
100%{transform:translateX(-2600px);}
}

.g1 {
left:0;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g2 {
left:400px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g3 {
left:800px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g4 {
left:1200px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g5 {
left:1600px;
animation: gallery 23s ease-in-out 0s infinite normal;}
.g6 {
left:2000px;
animation: gallery 23s ease-in-out 0s infinite normal;}

/*profile*/

.profile img {
  width:400px;
  height:400px;
}

.profile-wrapper {
flex-basis:50%;
margin:0 auto;
width: 50%;
}

.profile {
width:90%;
margin:0 auto;
}

.profile h2 {
padding:50px;
font-size:45px;
}

.paper-box {
width:100%;
text-align:center;
}

.paper {
width:380px;
margin: 0 auto;
position:relative;
}

.paper-text {
position:absolute;
top:80px;
left:70px;
color:#2C1000;
text-align:left;
font-size:24px;
font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}

.jou {
padding-bottom:10px;
}

.ge {
text-align: center;
}

.ge h4 {
color:white;
background-color: #2C1000;
}

.insta {
color:#2C1000;
font-size:40px;
}

.fa {
margin-right:10px;
}

/*oder*/

.contents2 {
margin-top:400px;
margin-bottom:200px;
}

.order-wrapper{
flex-basis: 90%;
width: 80vw;
margin:0 auto;
}

.order-wrapper h2 {
padding:50px;
font-size:45px;
text-align: center;
margin-bottom: 50px;
}

.order {
display: flex;
justify-content: center;
width: 80%;
margin:0 auto;
}

.order p {
padding:50px;
font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
color:white;
opacity:0.6;
}

.order-left {
font-size:24px;
flex-basis: 50%;
text-align: center;
}

.order-right {
line-height: 40px;
font-size:18px;
flex-basis: 50%;
text-align: center;
}

/*footer*/
footer{
width: 95%;
text-align: center;
margin:0 auto;
border-top:2px solid rgba(255,255,255,0.4);
}

footer p{
font-size:10px;
padding:10px 0px 60px 0px;
color:rgba(255,255,255,0.4);
}
